.gen-hrgna-btn-div {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: bolder;
}

.hiragana-image {
  display: block;
}

.hiragana-answer-input {
  display: block;
  width: 128px;
}
