html {
  height: 100%;
  width: 100%;
}

.gen-hrgna-btn-div {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
}

.hiragana-image {
  display: block;
}

.hiragana-answer-input {
  display: block;
  width: 128px;
}
